 /*loading icon */
 .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; 
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-icon {
 height: 200px;
 width: 300px;
}

/* CSS code for the navbar */
.navbar {
  opacity: 0; 
  transition: opacity 0.3s; 
}

.navbar:hover {
  opacity: 0.7; 
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa; 
  transform: scale(1.1); 
}


/* CES HOME */

#home {
  background-image: url("img/dep2.png");
        background-size: cover;
        background-repeat: no-repeat; 
  }
  
.typed-out{
  overflow: hidden;
  border-right: .15em solid  black;
  white-space: nowrap;
  animation: typing 3s steps(20, end) forwards infinite alternate, blinking .8s infinite;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}


.centered-div {
  color: black!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#about {
  padding-top: 5rem;
  padding: 3rem;
  color:white;
  background-color: #1d0909;
}



/* Faculty */

.card {
  position: relative;
  overflow: hidden;
}

.card-img {
  height: 100%;
  transition: all 0.3s ease;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: transform 0.6s, height 0.6s;
  transform: translateY(100%);
}

.card:hover .card-body {
  text-align: center;
  padding-top: 8rem;
  transform: translateY(0);
  height: 100%;
}

.card-title {
  margin-bottom: 0;
}

.card-links {
  display: none;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card:hover .card-links {
  display: block;
}


/* Contact */
#contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("img/footer1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: sepia(40%) brightness(80%);
}

.content-contact {
  max-width: 800px;
  text-align: center;
}

.content-contact h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
 
.content-contact p {
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}

.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container2 p {
  font-weight: 600;
}

.container2 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container2 .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container2 .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: white;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container2 .contactInfo .box .text {
  width: 50%;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container2 .contactInfo .box h3 {
  color: white;
  font-weight: 700;
}

.contactform {
  width: 40%;
  padding: 40px;
 background: #fff;
 backdrop-filter: blur(10px);
 background: rgba(255,255,255,0.1);
}

.contactform h2 {
  font-size: 30px;
  font-weight: 500;
  color: white;
}


.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 1rem 0;
}

.contactform .inputbox input,textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: none;
  color: white;

}

.contactform .inputbox label {
  position: absolute;
  left:0;
  font-size: 16px;
  transition: 0.5s;
  color: white;

}

.contactform .inputbox input:focus~ label,
.contactform .inputbox input:valid ~ label,
.contactform .inputbox textarea:focus ~  label,
.contactform .inputbox textarea:valid ~ label
{
  color: white;
  font-size: 13px;
  transform: translateY(-20px);
}
#send {
background: white; 
width:50%;
border-radius: 1rem;
transition: 0.3s; 
color: black;
font-weight: 700;
}

#send:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
@media (max-width:990px) {
  .content-contact {
    padding: 50px;
  } 
  .container2{
    flex-direction: column;
  }
  .container2 .contactInfo {
    margin-bottom: 40px;
  }
  .contactform {
    width: 80%;
  }

}

.socialLinks i {
  padding-left: 2rem;
  margin-top: 3rem;
  color: white;
}
